/* Zero */

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* .container{
    max-width: 1351px;
} */

/*--------------------*/

/*               Header                 */

.header_main {
    background: url("../img/header/Vector\ 1.png") no-repeat;
    width: 100%;
    height: 100vh;
}

/* navigation */

.nav {
    max-width: 1644px;
    width: 90%;
    margin: 0 140px 0 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_main {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_button {
    margin-left: 52px;
}

.logo {
    width: 179px;
    height: 100px;
    border-radius: 0px 0px 21.5px 21.5px;
    background-color: #0F7BFF;
    padding: 25px 23px 32px 23px;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
}

.nav_button {
    background-color: #0063DD;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    padding: 15px 51px;
    color: #fff;
}

.nav_button:hover {
    background-color: #fff;
    color: #0F7BFF;
}

.nav_item {
    margin-left: 52px;
    font-size: 16px;
    color: #333;
    transition: color .2s linear;
}

.nav_item:hover {
    color: #0F7BFF;
}

/* Items    */

.elements {
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 0 auto;
    max-width: 655px;
    margin-bottom: 33px;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}

.header_text {
    font-weight: 400;
    font-size: 16px;
    color: #929292;
    line-height: 1.3em;
}

.buttons {
    display: flex;
}

.buttons>.elem_button {
    width: 166px;
    height: 50px;
    color: #fff;
    border: 1px solid #0F7BFF;
    background-color: #0F7BFF;
    border-radius: 25px;
    padding: 14px;
    margin-right: 30px;
    cursor: pointer;
}


.elem_button:hover {
    color: #0F7BFF;
    background-color: #fff;
}

/* devices */

.devices {
    /*                           1st problem is here         */
    z-index: -10;
    position: absolute;
    margin: 0 auto;
    top: -36px;
    left: -69px;
}

.phone1 {
    background: url("../img/header/Phone1.png") center/100% no-repeat;
    position: absolute;
    width: 329px;
    height: 527px;
    left: 557px;
    top: 626px;
}

.phone3 {
    position: absolute;
    width: 330px;
    height: 527px;
    left: 1105px;
    top: 626px;
    background: url("../img/header/Phone3.png") center/100% no-repeat;
}

.phone2 {
    z-index: 10;
    background: url("../img/header/Phone2.png") center/100% no-repeat;
    position: absolute;
    width: 413px;
    height: 918px;
    left: 801px;
    top: 535px;
}

/* ---------- */

/*          Features              */

.features_main {
    height: 635px;
    background-color: #F5FCFD;
    display: flex;
    justify-content: center;
}

/* card */

.card {
    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 362px;
    height: 290px;
}

.card_icon {
    margin-top: 40px;
    width: 70px;
    height: 70px;
}

.card_title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
}

.card_text {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.first_card .card_icon {
    background: url("../img/features/Analysis.png");
}

.second_card .card_icon {
    background: url("../img/features/CleanDesign.png");
}

.third_card .card_icon {
    background: url("../img/features/Messaging.png");
}

.first_card, .third_card {
    margin-top: 165px;
}

.second_card {
    margin-top: 215px;
}

/* About */

.about_main {
    position: relative;
    width: 1351px;
}

.blue_square {
    position: absolute;
    width: 389.71px;
    height: 482.98px;
    background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.square_down {
    left: 1336.86px;
    top: 2909.49px;
}

.square_up {
    left: 284px;
    top: -35px;
}